<body>
	<!-- header -->
	{{>layout/header}}
	<!-- header -->

	<!-- content -->
	<div class="container-fluid search-header">
		<div class="container">
			<div class="row">
				<h2 align="center" class="pt-5 pb-5 title-txt">oEmbed Test</h2>
			</div>
			<div class="row">
				<div class="custom-search mb-5">
					<input type="text" class="custom-search-input"
						placeholder="Enter url" name="url" id="url" autofocus>
					<button class="custom-search-botton" type="button" id="search">확인</button>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="container">
			<div class="row pt-5 pb-5">
				<div>
					<table class="table table-striped" id="oembedTable">
						<tbody>
							<tr align="center">
								<td>검색어를 입력해주세요!</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- content -->

	<!-- footer -->
	{{>layout/footer}}
	<!-- footer -->
	<script type="text/javascript" src="/js/index.js"></script>
</body>
